---
import fallback from '@/assets/images/fallback.avif'
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'
import { HashIcon, Link2Icon } from 'lucide-react'

interface Props {
  name: string
  description: string | null
  tags?: string[]
  url: string
  ogUrl: string | null
}

const { name, description, tags, url, ogUrl } = Astro.props
---

<a
  class={cn(
  'ring-1 ring-gray-200/50  ring-offset-2 ring-offset-gray-50 shadow-sm hover:shadow-md',
  'dark:ring-gray-800/50 dark:ring-offset-gray-900 dark:shadow-gray-950/50 dark:hover:shadow-gray-950/50',
  'flex aspect-auto min-w-0 cursor-pointer flex-col gap-4 overflow-hidden rounded-xl',
  'bg-inherit p-4 transition-colors duration-300 hover:bg-gray-50/80 dark:hover:bg-slate-800/50',
)}
  href={`${url}?ref=huakucha.top`}
  target="_blank"
  aria-label={name}
  rel="noopener noreferrer"
>
  <div class="flex flex-row items-center justify-between">
    <div class="flex items-center space-x-2">
      <slot name="icon" />
    </div>
    <div class="flex items-center justify-center space-x-2">
      <slot name="barges" />
    </div>
  </div>
  {
    ogUrl && (
      <span class="aspect-[1200/630] overflow-hidden rounded-lg">
      <Image
        src={ogUrl ?? fallback}
        alt={name}
        width={360}
        height={180}
        loading="lazy"
        class="aspect-[1200/630] animate-reveal rounded-lg border bg-cover bg-center bg-no-repeat object-cover"
      />
    </span>
    )
  }
  <div class="flex flex-col gap-1 space-y-2">
    <h2 class="leading-snug font-bold">{name}</h2>
    <span class="line-clamp-1 inline-flex items-center gap-1 text-sm text-ds-gray-800">
      <Link2Icon size={16} />
      {new URL(url).hostname}
    </span>
    <span class="line-clamp-1 text-sm">{description}</span>
    <div class="flex items-center justify-end text-ds-gray-800 text-xs space-x-2">
      {
        tags?.map((tag) => {
          return (
            <span class="inline-flex items-center">
              <HashIcon className="size-3" />
              {tag}
            </span>
          )
        })
      }
    </div>
  </div>
</a>
