---
import IMG from '@/components/markdown/IMG.astro'
import { MdxComponents } from '@/components/markdown/mdx-components'
import Pre from '@/components/markdown/Pre.astro'
import { PageTableOfContents } from '@/components/markdown/toc'
import MainLayout from '@/layouts/MainLayout.astro'
import { getWeeklys } from '@/lib/fetchers'
import { getTableOfContents } from '@/lib/toc'
import { cn } from '@/lib/utils'
import { type CollectionEntry } from 'astro:content'


const weeklyData = await getWeeklys()
export async function getStaticPaths() {
  const weeklys = await getWeeklys()
  return weeklys.map(weekly => ({
    params: { slug: weekly.slug },
    props: weekly,
  }))
}

type Props = CollectionEntry<'weekly'>

const weekly = Astro.props
const slug = Astro.params.slug
const { Content } = await weekly.render()
if (!slug || !weekly) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  })
}
const toc = await getTableOfContents(weekly.body)
const { pathname } = Astro.url;
---

<MainLayout
  title="Weekly"
  description="Anthony's Weekly"
  mainClass={cn(
    'flex-1 mx-auto md:max-w-screen-xl w-full items-start md:grid',
    'md:grid-cols-[220px_minmax(0,1fr)] lg:grid-cols-[240px_minmax(0,1fr)]',
  )}
  bgType={false}
  slideContent={false}
>
  <!-- side -->
  <aside
    class={cn(
      'fixed top-14 z-30 hidden h-[calc(100vh-3.5rem)]',
      'w-full shrink-0  dark:border-border md:sticky md:block',
    )}
  >
    <div class="no-scrollbar h-full overflow-auto py-8">
      <div class="w-full">
        <div class="grid grid-flow-row auto-rows-max gap-0.5 text-sm space-y-4 group">
        {
          weeklyData.map((item, itemIndex) => {
            return (
              <div class="group/list-item group-hover:text-gray-300 dark:group-hover:text-ds-gray-700">
                <a
                  href={`/weekly/${item.slug}`}
                  class={cn(
                    'flex w-full items-center pl-2',
                    'group-hover/list-item:text-ds-gray-1000 dark:group-hover/list-item:text-gray-100',
                    pathname.endsWith(item.slug) && 'border-black border-l-2 dark:border-ds-gray-900',
                  )}
                >
                  第 {itemIndex} 期: &nbsp;&nbsp;{item.data.title}
                </a>
              </div>
            )
          })
        }
        </div>
      </div>
    </div>
  </aside>
  <article class="relative py-6 lg:py-8 xl:grid xl:grid-cols-[1fr_300px] slide-enter-content">
    <div class="mx-auto w-full min-w-0 md:px-6">
      <div class="space-y-4">
        <h1 class="scroll-m-20 text-3xl font-bold">
          {weekly.data.title}
        </h1>
        <blockquote class="mt-6 border-l-2 pl-6 font-normal text-ds-gray-700">
          {weekly.data.description}
        </blockquote>
      </div>
      <div class="pb-12 pt-8">
        <Content
          components={{
            ...MdxComponents,
            img: IMG,
            Image: IMG,
            pre: Pre,
          }}
        />
      </div>
      <!-- footer link -->
      <!-- <div class="flex flex-row items-center justify-between">
        <Button variant="ghost" asChild>
          <a
            href="/blog"
            class={cn(buttonVariants({ variant: 'outline' }))}
          >
            <ChevronLeft />
            <span>
              上一期
            </span>
          </a>
        </Button>
        <Button variant="ghost" className="ml-auto" asChild>
          <a
            href="/blog"
            class={cn(buttonVariants({ variant: 'outline' }))}
          >
            <span>
              下一期
            </span>
            <ChevronRight />
          </a>
        </Button>
      </div> -->
    </div>
    <div class="hidden text-sm xl:block">
      <div class="sticky top-20 -mt-6 h-[calc(100vh-3.5rem)] pt-4">
        <div class="no-scrollbar h-full overflow-auto pb-10">
          <PageTableOfContents toc={toc} client:load />
        </div>
      </div>
    </div>
  </article>
</MainLayout>

<script>
</script>

<style>
  .no-scrollbar {
    scrollbar-width: none;
  }
</style>
