---
import { ResourceType } from '@/config/resource'
import { actions } from 'astro:actions'
import { Image } from 'astro:assets'
import { MarkCard } from '../_components/HoverCard'
import ResourceLayout from '../_layout/ResourceLayout.astro'

const { data: subscribes } = await Astro.callAction(actions.SITE.GET, ResourceType.SUBSCRIBE)
---

<ResourceLayout
  title="Subscribe Resource"
  description="Awesome subscribe."
>
  <div slot="right-content" class="prose">
    <ul class="pt-4 ml-1 list-disc">
      {
        subscribes?.map((subscribe) => {
          return (
            <li>
              <MarkCard
                url={subscribe.url}
                name={subscribe.name}
                tags={subscribe.tags}
                description={subscribe.description}
                client:load
              >
                {
                  subscribe.ogUrl && (
                    <span class="aspect-[1200/630] overflow-hidden rounded-lg">
                      <Image
                        src={subscribe.ogUrl}
                        alt="name"
                        width={360}
                        height={180}
                        loading="lazy"
                        class="aspect-[1200/630] animate-reveal rounded-lg border bg-cover bg-center bg-no-repeat object-cover"
                      />
                    </span>
                  )
                }
              </MarkCard>
            </li>
          )
        })
      }
    </ul>
  </div>
</ResourceLayout>
