---
import { ResourceType } from '@/config/resource'
import ResourceLayout from '@/layouts/ResourceLayout.astro'
import { actions } from 'astro:actions'
import { Image } from 'astro:assets'
import { MarkCard } from '../_components/HoverCard'

const { data: portfolios } = await Astro.callAction(actions.SITE.GET, ResourceType.PORTFOLIO)
---

<ResourceLayout
  title="Portfolio Resource"
  description="Awesome portfolio."
>
  <div slot="right-content" class="prose">
    <ul class="pt-4 ml-1 list-disc">
      {
        portfolios?.map((portfolio) => {
          return (
            <li>
              <MarkCard
                url={portfolio.url}
                name={portfolio.name}
                tags={portfolio.tags}
                description={portfolio.description}
                client:load
              >
                {
                  portfolio.ogUrl && (
                    <span class="aspect-[1200/630] overflow-hidden rounded-lg">
                      <Image
                        src={portfolio.ogUrl}
                        alt="name"
                        width={360}
                        height={180}
                        loading="lazy"
                        class="aspect-[1200/630] animate-reveal rounded-lg border bg-cover bg-center bg-no-repeat object-cover"
                      />
                    </span>
                  )
                }
              </MarkCard>
            </li>
          )
        })
      }
    </ul>
  </div>
</ResourceLayout>
