---
import { collections } from '@/config/site'
import MainLayout from '@/layouts/MainLayout.astro'
import { cn } from '@/lib/utils'

type Props = {
  title: string
  description?: string
  mainClass?: string
  bgType?: 'default' | false
  bgClass?: string
  slideContent?: boolean
}

const { title, description, mainClass, bgType, bgClass, slideContent = true } = Astro.props
const segment = Astro.url.pathname.split('/')[2]
---
<MainLayout
  title={title}
  description={description}
  mainClass={mainClass}
  bgType={bgType}
  bgClass={bgClass}
  slideContent={slideContent}
>
  <section class="container relative flex w-full flex-col space-y-6 py-14">
    <main class="grid grid-cols-1 gap-4 md:grid-cols-5">
      <aside class="md:col-span-1 rounded-lg hidden md:grid md:sticky md:top-16 h-dvh overflow-auto max-h-[calc(100vh-16rem)] mx-auto">
        <div>
          <ul class="group space-y-4 py-2 items-center justify-center">
            {
              collections.map((item) => {
                return (
                  <li class={cn(
                    'group/list-item group-hover:text-gray-300 dark:group-hover:text-ds-gray-700 pl-4',
                    (item.routeName === segment) && 'border-l-2 border-l-black',
                  )}
                  >
                    <a
                      href={`/collection/${item.routeName}`}
                      class={cn(
                        'w-full justify-start',
                        'group-hover/list-item:text-ds-gray-1000 dark:group-hover/list-item:text-gray-100',
                      )}
                    >
                      {item.name}
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </div>
      </aside>
      <div class="md:col-span-1 bg-muted rounded-lg p-4 grid md:hidden">
        <h2 class="text-xl font-bold mb-4">
          <!-- TODO mobile left-content -->
          <slot name="mobile-left-content" />
        </h2>
      </div>
      <div class="md:col-span-4 bg-card rounded-lg h-full overflow-auto slide-enter-content">
        <slot name="right-content" />
      </div>
    </main>
  </section>
</MainLayout>
