---
import { FilterResource } from '@/components/mobile/ResourceFilter'
import { resources } from '@/config/resource'
import MainLayout from '@/layouts/MainLayout.astro'
import { cn } from '@/lib/utils'

type Props = {
  title: string
  description?: string
  mainClass?: string
  bgType?: 'default' | false
  bgClass?: string
}

const { title, description, mainClass, bgType, bgClass } = Astro.props
const segment = Astro.url.pathname.split('/')[2]

const resourceName = resources.findLast((r) => {
  return r.routeName === segment
})?.name
---
<MainLayout
  title={title}
  description={description}
  mainClass={mainClass}
  bgType={bgType}
  bgClass={bgClass}
>
  <section class="container relative flex w-full flex-col space-y-6">
    <main class="grid grid-cols-1 gap-4 md:grid-cols-5 h-full">
      <div class="md:col-span-1  rounded-lg">
        <aside class="hidden md:grid md:sticky md:top-16 overflow-auto mx-auto">
          <ul class="group space-y-2 pt-12">
            {
              resources.map((item) => {
                return (
                  <li class={cn(
                    'group/list-item group-hover:text-gray-300 dark:group-hover:text-ds-gray-700 text-ds-gray-800',
                    'text-center',
                  )}
                  >
                    <a
                      href={`/resource/${item.routeName}`}
                      class={cn(
                        'w-full justify-start pl-2 text-sm',
                        'group-hover/list-item:text-ds-gray-1000 dark:group-hover/list-item:text-gray-100',
                        (item.routeName === segment) && ' text-black dark:text-white',
                      )}
                    >
                      {item.name}
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </aside>
        <div class="pt-8 pb-4 grid md:hidden">
          <FilterResource
            resourceName={resourceName || resources[0].name}
            client:idle
            slot="mobile-nav-header"
          />
        </div>
      </div>
      <div class="md:col-span-4 overflow-auto md:pt-8">
        <slot name="head-name">
          <h1 class="font-bold text-xl mb-4 text-center hidden md:grid">
            { resourceName }
          </h1>
        </slot>
        <slot name="right-content" />
        <p class="py-4 text-sm mx-auto text-center">
          That's all for now. Come back later for more.
        </p>
      </div>
    </main>
  </section>
</MainLayout>
